@import "./src/styles/home.css";
@import "./src/styles/cards.css";
@import "./src//styles//assetsdetails.css";
@import "./src/styles/admin.css";
@import "./src/styles/list.css";
@import "./src/styles/analyst.css";
@import "./src/styles/analystdetails.css";
@import "./src/styles/user.css";
@import "./src//styles/footer.css";
@import "./src/styles/auth.css";
@import "./src/styles/navbar.css";

* {
  box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: whitesmoke;
}

main {
    margin: 0;
    padding: 0;
    flex: 1 0 auto;       /* Occupies all the remaining space in the body */
    display: flex;       
    flex-direction: column;
    width: 100%;
}

#root {
    margin: 0;
    padding: 0;
    flex: 1 0 auto;      
    display: flex;        
    flex-direction: column;
    width: 100%;
    min-height: 70vh;    
    box-sizing: border-box;
}

.admin-content, .card-chart-container {
    min-height: 350px;
}

.admin-mode footer#footer-container {
    display: none;
}


