#users-list {
    display: flex;
    flex-direction: column;
}

#admin-users-title {
    text-align: start;
    font-size: 1.8rem;
}

.user-item{
    display: flex;
    flex-direction: row;
    align-items: start;
    margin: 1rem;
    justify-content: space-between;

}

.update-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
    justify-content: space-around;
}

.recommendation p {
    width: 20%;               
    white-space: nowrap;      
    overflow: hidden;          
    text-overflow: ellipsis;
}

.watchlist-item{
 display: flex;
    flex-direction: row;
    align-items: start;
    margin: 1rem;
    justify-content: space-around;
}