#analyst-detail {
    margin: 1rem;
}

.asset-header {
    display: flex;
    flex-direction: column;
}

.analyst-avatar-container {
    margin: 0;
}

.analyst-profile-pic {
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 1px 4px 5px black;
}

#analyst-name {
    margin: 0;
}

#analyst-reco-t {
    text-align: center;
}

#analyst-co {
    font-size: 1rem;
}

#analyst-bio {
    font-size: 0.8rem;
}

#analyst-reco-t {
    font-size: 1.5rem;
}

#analyst-reco-list-container {
    height: 20rem;
}

.id-pagination {
    margin-bottom: 1rem;
    gap: 0.2rem;
}


/* ==========================================================================
   ADAPTATION RESPONSIVE (Focus Mobile)
   ========================================================================== */
@media (max-width: 430px) {

    .analyst-profile-pic {
        height: 10rem;
        margin: 1rem;
    }

    .list-item {
        padding: 10px 0;
    }
    
    .item-media {
        width: 40px;
        height: 40px;
    }

    .asset-header {
        margin: 0;
        gap: 10px;
    }

    .asset-name {
        margin: 0;
        font-size: 1.5rem;
        padding: 0 0.5rem;
    }

    .asset-info {
        margin: 20px;
    }

    .login-message {
        text-align: center;
        font-size: 1rem;
        margin: 20px;
        text-decoration: underline;
    }

    #login-btn {
        font-size: 0.6rem;
    }

    #reco-list-container {
        font-size: 0.8rem;
        height: 15rem;
    }

    .recommendation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem 5px;
        width: 100%;
        margin: 5px 1px;
        font-size: 0.8rem;
    }

    #reco-image {
        width: 1rem;
        height: 1rem;
        flex-shrink: 0;
    }

    .reco-analyst-pic{
        width: 4rem;
        height: 4rem;
        flex-shrink: 0;
    }

    .id-pagination {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media (min-width: 429px) and (max-width: 600px) {

     .analyst-profile-pic {
        height: 10rem;
        margin: 1rem;
    }

    .list-item {
        padding: 10px 0;
    }
    
    .item-media {
        width: 40px;
        height: 40px;
    }

    .asset-header {
        margin: 0;
        gap: 10px;
    }

    .asset-name {
        margin: 0;
        font-size: 1.5rem;
        padding: 0 0.5rem;
    }

    .asset-info {
        margin: 20px;
    }

    .login-message {
        text-align: center;
        font-size: 1rem;
        margin: 20px;
        text-decoration: underline;
    }

    #login-btn {
        font-size: 0.6rem;
    }

    #reco-list-container {
        font-size: 0.8rem;
        height: 15rem;
    }

    .recommendation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem 5px;
        width: 100%;
        margin: 5px 1px;
    }

    #reco-image {
        width: 1rem;
        height: 1rem;
        flex-shrink: 0;
    }

    .reco-analyst-pic{
        width: 4rem;
        height: 4rem;
        flex-shrink: 0;
    }

    .id-pagination {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
}

/* ===== 768px - Tablette ===== */
@media (min-width: 601px) and (max-width: 768px) {

    .analyst-profile-pic {
        height: 10rem;
        margin: 1rem;
    }

    .list-item {
        padding: 10px 0;
    }
    
    .item-media {
        width: 40px;
        height: 40px;
    }

    .asset-header {
        margin: 0;
        gap: 10px;
    }

    .asset-name {
        margin: 0;
        font-size: 1.5rem;
        padding: 0 0.5rem;
    }

    .asset-info {
        margin: 20px;
    }

    .login-message {
        text-align: center;
        font-size: 1rem;
        margin: 20px;
        text-decoration: underline;
    }

    #login-btn {
        font-size: 0.6rem;
    }

    #reco-list-container {
        font-size: 0.8rem;
        height: 15rem;
    }

    .recommendation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem 5px;
        width: 100%;
        margin: 5px 1px;
    }

    #reco-image {
        width: 1rem;
        height: 1rem;
        flex-shrink: 0;
    }

    .reco-analyst-pic{
        width: 4rem;
        height: 4rem;
        flex-shrink: 0;
    }

    .id-pagination {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
}

/* ===== 1024px+ - Desktop ===== */
@media (min-width: 769px) {

    .analyst-profile-pic {
        height: 10rem;
        margin: 1rem;
    }

    .list-item {
        padding: 10px 0;
    }
    
    .item-media {
        width: 40px;
        height: 40px;
    }

    .asset-header {
        margin: 0;
        gap: 10px;
    }

    .asset-name {
        margin: 0;
        font-size: 1.5rem;
        padding: 0 0.5rem;
    }

    .asset-info {
        margin: 20px;
    }

    .login-message {
        text-align: center;
        font-size: 1rem;
        margin: 20px;
        text-decoration: underline;
    }

    #login-btn {
        font-size: 0.6rem;
    }

    #reco-list-container {
        font-size: 0.8rem;
        height: 15rem;
    }

    .recommendation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem 5px;
        width: 100%;
        margin: 5px 1px;
    }

    #reco-image {
        width: 1rem;
        height: 1rem;
        flex-shrink: 0;
    }

    .reco-analyst-pic{
        width: 4rem;
        height: 4rem;
        flex-shrink: 0;
    }

    .id-pagination {
        display: flex;
        align-items: center;
        justify-content: center;
    } 
}