h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#stocks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  align-items: start;
  width: 100%;
  padding: 10px;
}

#forex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  align-items: start;
  width: 100%;
  padding: 10px;
}

#commodities {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  align-items: start;
  width: 100%;
  padding: 10px;
}