.asset-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: start;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.2s;
}

#assets-list-container .asset-item a {
    color: black;
    font-size: 3rem;
    text-decoration: none;
}

#assets-list-container .asset-item a:hover {
    color: #333;
}

#logo-list {
    width: 80px; 
    height: 80px; 
    margin-right: 10px;
}